@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Montserrat:wght@300&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*       HEADER        */

.menu__main__table {
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0);
}

.menu__main__table a {
    color: white;
    display: block;
    font-family: "Open Sans";
    font-size: 1em;
}

.menu__main__table .text {
    padding: 1em;
    margin: 0.2em;
}

.menu__main__table .logo {
    padding: 0.6em;
    margin: 0.2em;
}

.menu__main__table img {
    width: auto;
    height: 2em;
}

.menu__main__table a:hover {
    text-decoration:blue underline 3px;
}




.contacts {
    padding-top: 3em;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 90%;
}

.contacts__list {
    display: flex;
    flex-wrap: wrap;
}

.contacts__title {
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
}


.contacts h2, p {
    text-align: center;
    margin-bottom: 0.7em;
}

.contacts__second-column {

    margin-left: 5em;
}

.contacts__requis {
    margin-top: 3em;
}

.contacts__requis h2, p{
    text-align: left;
}




/*     FOOTER       */




footer {
    background-color: black;
 }
 
 .footer__first-row, .footer__second-row,
 .footer__third-row, .footer__fourth-row {
     margin-bottom: 3em;
     margin-top: 3em;
     text-align: center;
 }
 
 .footer__first-row {
     
     flex: 0 0 25%;
     margin-left: 5em;
 }
 
 .footer__first-row a, p {
     font-size: 1em;
 }
 
 .footer__second-row {
     flex: 0 0 20%;
     line-height: 2em;
 }
 
 .footer__second-row a, p{
     font-size: 1.5em;
 }
 
 .footer__third-row {
     flex: 0 0 20%;
     line-height: 2em;
 }
 
 .footer__third-row a, p{
     font-size: 1.5em;
 }
 
 
 .footer__fourth-row {
     font-size: 1em;
     margin-right: 5em;
     flex: 0 0 22%;
 }
 
 .footer__fourth-row a, p {
     font-size: 1.1em;
 }
 
 footer p, a {
     color:white;
 }
 
 .row {
     display: flex;
     
 }
 
 
 .footer__fourth-row__social {
     display: flex;
 }
 
 
 .footer__fourth-row img {
     margin-left: 10px;
     width: 30px;
     height: 30px;
 }  

 @media (min-width: 2000px) {

    ul .text {
        font-size: 25px;
    }

     .contacts__title {
         font-size: 50px;
     }

     h2 {
         font-size: 40px;
     }

     p {
        font-size: 25px;
     }

     .row {
         font-size: 20px;
     }
 }

 @media (max-width: 1000px) {
     ul .text {
         display: none;
     }

     .row {
         font-size: 14px;
     }

     .footer__first-row {
         margin-left: 0em;
     }

     .contacts__second-column {
         margin-left: 0em;
     }
 }

 @media print {
    .menu__main {
        display: none;
    }

    img {
        display: none;
    }

    body {
        margin: 0;
        color: #000;
        background-color: #fff;
      }

    .row {
        display: none;
    }
 }