@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}



td {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans';
}


/*       HEADER        */

.menu__main__table {
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0);
}

.menu__main__table a {
    color: white;
    display: block;
    font-family: "Open Sans";
    font-size: 1em;
}

.menu__main__table .text {
    padding: 1em;
    margin: 0.2em;
}

.menu__main__table .logo {
    padding: 0.6em;
    margin: 0.2em;
}

.menu__main__table img {
    width: auto;
    height: 2em;
}

.menu__main__table a:hover {
    text-decoration:blue underline 3px;
}

/*          MAIN         */

form input {
    margin: 0.5em 0.5em 0.5em 0.5em;

}

form button {
    margin: 0.5em 0.5em 0.5em 0.5em;
    
}


.modal {
    padding: 50px;    
     position: fixed; 
         top: 50%;    
          left: 50%;    
     -webkit-transform: translate(-50%, -50%); 
         -ms-transform: translate(-50%, -50%);  
        transform: translate(-50%, -50%);
    background-color: white; border: black solid 2px;
  }


.shedule {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 3em;
    width: 90%;
    margin: 0 auto;
}

.shedule__title {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
}

.shedule__list {
    margin-top: 2em;
}

main {
    margin-bottom: 5em;
}

button img {
    width: 30px;
    height: 30px;
}

/*         FOOTER       */

input {
    width: 100%;
}

footer {
    background-color: black;
 }
 
 .footer__first-row, .footer__second-row,
 .footer__third-row, .footer__fourth-row {
     margin-bottom: 3em;
     margin-top: 3em;
     text-align: center;
 }
 
 .footer__first-row {
     
     flex: 0 0 25%;
     margin-left: 5em;
 }
 
 .footer__first-row a, p {
     font-size: 1em;
 }
 
 .footer__second-row {
     flex: 0 0 20%;
     line-height: 2em;
 }
 
 .footer__second-row a, p{
     font-size: 1.5em;
 }
 
 .footer__third-row {
     flex: 0 0 20%;
     line-height: 2em;
 }
 
 .footer__third-row a, p{
     font-size: 1.5em;
 }
 
 
 .footer__fourth-row {
     font-size: 1em;
     margin-right: 5em;
     flex: 0 0 22%;
 }
 
 .footer__fourth-row a, p {
     font-size: 1.1em;
 }
 
 footer p, a {
     color:white;
 }
 
 .row {
     display: flex;
     
 }
 
 
 .footer__fourth-row__social {
     display: flex;
 }
 
 
 .footer__fourth-row img {
     margin-left: 10px;
     width: 30px;
     height: 30px;
 }  
  table {
    width: 100%;
  }


 @media (min-width: 2000px) {

    ul .text {
        font-size: 30px;
    }

    .shedule__title
     {
         font-size: 45px;
     }

     th {
         font-size: 30px;
     }

     tr {
         font-size: 25px;
     }

     .row {
         font-size: 20px;
     }
 }

 @media (max-width: 1000px) {
     ul .text {
         display: none;
     }

     .shedule {
         width: 100%;
     }

     .shedule__title {
         font-size: 20px;;
     }

     th {
         font-size: 10px;
     }

     tr {
         font-size: 10px;
     }

     table {
         width: 91%;
     }

     .row {
         font-size: 12px;
     }

     .footer__first-row {
         margin-left: 1em;
     }
 }