<html>

<head>
    <title>
        Фитнес-центр
    </title>
    
    <link rel="stylesheet" href="CSS/services.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="CSS/dispmenu.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>

<body>
    <header>
        <nav class="menu">
            <div class = "menu__main">
                <ul class = "menu__main__table">
                <li class="logo"><a href="index.php"><img src="img/icon.png"></a></li>
                <li class="text"><a href="news.php">НОВОСТИ</a></li>
                <li class="text"><a href="services.html">УСЛУГИ</a></li>
                <li class="text"><a href="index.php#club">КЛУБЫ</a></li>
                <li class="text"><a href="shedule.php">РАСПИСАНИЕ</a></li>
                <li class="text"><a href="coaches.php">ТРЕНЕРЫ</a></li>
                <li class="text"><a href="contacts.html">КОНТАКТЫ</a></li>
                <li class="text"><a href="check.php">ЛИЧНЫЙ КАБИНЕТ</a></li>
                </ul>   
            </div>
            <div class="disp_menu" id="app">
                <transition name="fade" mode="out-in"> 
                    <i class="material-icons menu" v-if="!show" @click="show = !show" key="menu">menu</i>
                    <i class="material-icons clear" v-else @click="show = !show" key="clear">clear</i>
                </transition>
                <transition class="fade">
                    <ul v-if="show">
                        <li v-for="item in items"><a href="services.html">УСЛУГИ</a></li>
                        <li v-for="item in items"><a href="index.php#club">КЛУБЫ</a></li>
                        <li v-for="item in items"><a href="shedule.php">РАСПИСАНИЕ</a></li>
                        <li v-for="item in items"><a href="coaches.php">ТРЕНЕРЫ</a></li>
                        <li v-for="item in items"><a href="contacts.html">КОНТАКТЫ</a></li>
                    </ul>
                </transition>
            </div>
        </nav>
    </header>
    <main>
        <div class="services">
            <div class="services__left">
                <div class="fitness-programs">
                    <div class="fitness-programs__title">
                        Фитнес-программы
                    </div>
                    <div class="fitness-programs__list">
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/perstrener.png">
                            </div>
                            <div class="fitness-programs__item__title">
                                Персональный тренер
                            </div>
                            <div class="fitness-programs__item__desc">
                            <p>Наши персональные тренеры подберут для вас индивидуальную программу и поддержат вашу мотивацию для достижения 
                                ваших целей</p>
                            </div>
                        </div>
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/galery.jpg">
                            </div>
                            <div class="fitness-programs__item__title">
                                Силовой и функциональный тренинг    
                            </div>
                            <div class="fitness-programs__item__desc">
                                <p>
                                    Силовые программы для тренировки мышц рук, плеч, груди, верхней части спины и брюшного пресса
                                </p>
                            </div>
                        </div>
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/vodnprog.jpg">
                            </div>
                            <div class="fitness-programs__item__title">
                                Водные программы    
                            </div>
                            <div class="fitness-programs__item__desc">
                                <p>
                                    Выбор из более чем 25 видов различных программ позволит подобрать занятие максимально подходящее 
                                    вашим целям
                                </p>
                            </div>
                        </div>
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/cardio.jpg">
                            </div>
                            <div class="fitness-programs__item__title">
                                Кардиотренинг   
                            </div>
                            <div class="fitness-programs__item__desc">
                                <p>
                                    Кардиотренировка - это тренинг сердечной мышцы, основанный на аэробных нагрузках, таких как бег, ходьба, различные
                                    виды аэробики
                                </p>
                            </div>
                        </div>
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/boevisk.jpeg">
                            </div>
                            <div class="fitness-programs__item__title">
                                Боевые искусства    
                            </div>
                            <div class="fitness-programs__item__desc">
                                <p>
                                    Инструкторы наших клубов помогут вам достичь хороших результатов в основных направлениях боевых
                                    искусств как западных, так и восточных
                                </p>
                            </div>
                        </div>
                        <div class="fitness-programs__item">
                            <div class="fitness-programs__item__img">
                                <img src="img/volleyball.jpeg">
                            </div>
                            <div class="fitness-programs__item__title">
                                Игровые программы    
                            </div>
                            <div class="fitness-programs__item__desc">
                                <p>
                                    Получите интенсивную аэробную нагрузку и при этом зарядитесь положительными эмоциями от активного
                                    общения с друзьями и коллегами
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services__right">
                <div class="fitness-features">
                    <div class="fitness-features__title">
                        Фитнес-возможности клубов
                    </div>
                    <div class="fitness-features__list">
                        <div class="fitness-features__item">
                            <h2>Бассейны</h2>
                            <div class="fitness-features__item__description">
                                <p>Фитнес-клуб с бассейном — так можно сказать про каждый из наших клубов. Вода
                                    прекрасно влияет на кожу,
                                    настроение и самочувствие, помогает всегда держать себя в форме. Поэтому занятия в
                                    ней полезны практически
                                    всем, а люди, которые ходят в тренажерный зал или занимаются фитнесом, могут
                                    расслабиться после напряженной
                                    тренировки и дать отдых своим мышцам.</p>
                            </div>
                        </div>
                        <div class="fitness-features__item">
                            <h2>Тренажерный зал</h2>
                            <div class="fitness-features__item__description">
                                <p>Если вы не любите или вам надоел обычный фитнес, посетите тренажерный зал — прекрасный способ поддерживать
                                себя в отличной физической форме. Вы сами можете решить, какую группу мышц вам нужно тренировать, а наши 
                                специалисты подскажут вам, как лучше и быстрее добиться результата.</p>
                            </div>
                        </div>
                        <div class="fitness-features__item">
                            <h2>Персональный тренер</h2>
                            <div class="fitness-features__item__description">
                                Персональные тренировки&nbsp;— это возможность достичь максимальных результатов за&nbsp;короткий срок. 
                                В&nbsp;сети STRONG многие члены клубов выбирают именно этот формат тренировок, и, соответственно, 
                                удобное время посещения фитнес-центра. У&nbsp;нас достаточное количество тренеров, и&nbsp;все они&nbsp;— 
                                опытные, квалифицированные специалисты, разрабатывающие уникальные и&nbsp;безопасные программы тренировок, 
                                основываясь на&nbsp;ваших целях, опыте занятий, противопоказаниях. Уверены, что вы&nbsp;оцените привилегии, 
                                которые есть у&nbsp;тех, кто занимается с&nbsp;персональным тренером, и&nbsp;уже в&nbsp;скором времени 
                                заметите результат индивидуальных занятий.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="row">
            <div class="footer__first-row">
                <a><img src="img/icon.png"></a>
                <p>© 2021, фитнес-клуб STRONG. Все права защищены.</p>
            </div>
            <div class="footer__second-row">
                <ul>
                    <li><a>Услуги</a></li>
                    <li><a>Клубы</a></li>
                    <li><a>Расписание</a></li>
                </ul>
            </div>
            <div class="footer__third-row">
                <ul>
                    <li><a>Тренеры</a></li>
                    <li><a>Акции</a></li>
                    <li><a>Контакты</a</li>
                </ul>
            </div>
            <div class="footer__fourth-row">
                <a href="https://instagram.com"><img src="img/inst.jpg"></a>
                <a href="https://vk.com"><img src="img/vk.png"></a>
                <a href="https://telegram.com"><img src="img/telegram.png"></a>
                <div>
                    <p>г.Москва, ул. Земляной Вал, 33, м.Курская, ТРЦ "Атриум", 3 этаж</p>
                </div>
            </div>
        </div>
    </footer>


</body>
<script src="JS/script.js"></script>
</html>